.modalWrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    transition-duration: 1s;

}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    color: white;


}




